#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  --orange: #FFB547;
  --lblue: rgba(214, 230, 253, 1);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Mina', sans-serif;
}

a {
  text-decoration: none;
}

#landingpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

